<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/my_jquery_functions.js"></script>
    <title>jquery</title>
    <style type="text/css">
        div.ex,.ex1
        {background-color: #e5eecc;
         padding: 7px;
         border: solid 1px #c3c3c3;}
    </style>
</head>
<body>
<h3>中国办事处</h3>
<div class="ex">
    <button class="hide" type="button">隐藏</button>
    <p> 联系人：张先生<br />
        北京三环中路 100号<br />
        北京
    </p>
</div>
<div class="ex1">
    <button class="hide" type="button">隐藏</button>
    <p> 联系人：张先生<br />
        北京三环中路 100号<br />
        北京
    </p>
</div>
</body>
</html>